doctype html
head
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Sacramento&display=swap' rel='stylesheet')
  link(rel='StyleSheet' href='css/styles.css' type='text/css')
  script(src='script.js')
header
  nav
    ul
      li
        a(href='/home') Home
      li |
      li
        a(href='#') Blog
      li.register-link                                                                                  
        a(href='/register')   Register  
main
  section#intro-text
    span Simple Appication Sharing
    h3
      | Simple &amp; Coding 
      br
      |             Powerful Technique Sharing 
    //
      <p class="success">SUCCESS</p>
      <p class="error">ERROR</p>
      <p class="warning">WARNING</p>
  section#intro-image
    
    h2.headline-container Thank you for your registration!
footer
  | &copy; Copyright 2024
